<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="eleme_api" value="https://openapi.ele.me/v2"/>
    <add key="eleme_consumer_key" value="9077839250"/>
    <add key="eleme_consumer_secret" value="5d3ee3a49287b269ba55cc023b382d5a0931e6f1"/>
    <add key="gpg_path" value="C:\Program Files (x86)\GNU\GnuPG\pub\"/>
    <add key="gpg_pwd" value="12345678"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
