@{
    ViewBag.Title = "有效订单分析";
    Layout = "~/Areas/P/Views/Shared/_LayoutWxPage.cshtml";
}

@section scripts{
}
<style type="text/css">
    html, body {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
    }

    .page-body {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 50px;
        overflow: auto;
    }

    .page-foot {
        position: absolute;
        height: 60px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow: hidden;
        padding: 10px;
    }

    .page-head {
        position: absolute;
        height: 60px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow: hidden;
        padding: 10px;
    }

    .placeholder {
        padding: 7px;
    }

    .weui-cell {
        min-height: 45px;
        margin-top: 0px !important;
    }

    .weui-cells {
        font-size: 14px !important;
    }

    .weui-label {
        width: 140px !important;
    }
</style>
<script type="text/javascript" src="~/Content/echarts/echarts.min.js"></script>
<script type="text/javascript" src="~/Content/bootstrap/bootstrap3.3.7.js"></script>
<link type="text/css" rel="stylesheet" href="~/Content/bootstrap/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="~/Content/fontawesome/css/font-awesome.css" />
<link href="~/Content/css/cost_summary.css" rel="stylesheet" />
<script src="~/Content/plugin/LCalendar/js/LCalendar.js"></script>
<link href="~/Content/plugin/LCalendar/css/LCalendar.css" rel="stylesheet" />
<script type="text/javascript">
    var std = '@ViewBag.StartDate';
    var ed = '@ViewBag.EndDate'; 
    $(document).ready(function () {
        var calendar = new LCalendar();
        calendar.init({
            'trigger': '#startDate', //标签id
            'type': 'date', //date 调出日期选择 datetime 调出日期时间选择 time 调出时间选择 ym 调出年月选择,
            'minDate': (new Date().getFullYear() - 3) + '-' + 1 + '-' + 1, //最小日期
            'maxDate': (new Date().getFullYear() + 3) + '-' + 12 + '-' + 31 //最大日期
        });

        var calendar = new LCalendar();
        calendar.init({
            'trigger': '#endDate', //标签id
            'type': 'date', //date 调出日期选择 datetime 调出日期时间选择 time 调出时间选择 ym 调出年月选择,
            'minDate': (new Date().getFullYear() - 3) + '-' + 1 + '-' + 1, //最小日期
            'maxDate': (new Date().getFullYear() + 3) + '-' + 12 + '-' + 31 //最大日期
        });

        $('#startDate').val(std);
        $('#endDate').val(ed);

        var CountChart = echarts.init(document.getElementById('mainCount'));
        var countData = [];
        
        $("#btnRefresh").click(function () {
            getJson();
        });
        getJson();
        function getJson() {
            var _StartDate = $('#startDate').val();
            var _EndDate = $('#endDate').val();
            showLoadingToast();
            post('/P/CostAnalysis/LoadDownOrderAnalysisData',
                {
                    StartDate: _StartDate,
                    EndDate: _EndDate
                },
                function (d) {
                    if (d.state == 1) {
                        var Countstr = d.TotalCount.toString();
                        var Countreg = Countstr.indexOf(".") > -1 ? /(\d)(?=(\d{3})+\.)/g : /(\d)(?=(?:\d{3})+$)/g;
                        var CountT = Countstr.replace(Countreg, "$1,") + "单";

                        document.getElementById('labReserveSuccessCount').innerHTML = d.ReserveSuccessCount;
                        document.getElementById('labReserveFailCount').innerHTML = d.ReserveFailCount;
                        document.getElementById('labReturnSuccessCount').innerHTML = d.ReturnSuccessCount;
                        document.getElementById('labReturnFailCount').innerHTML = d.ReturnFailCount;

                        //数量饼图
                        for (var i = 0; i < d.dataCountChart.length; i++) {
                            var obj = new Object();
                            obj.name = d.dataCountChart[i].Name;
                            obj.value = d.dataCountChart[i].OrderCount;
                            countData[i] = obj;
                        }
                        var Aoption = DrawCountBar(countData, CountT);
                        if (Aoption && typeof Aoption === "object") {
                            CountChart.setOption(Aoption, true);
                        }
                        hideLoadingToast();

                        $('#reserveSuccess').append(FormatHtml(d.ReserveSuccessList, 'reserveSuccess'));
                        $('#reserveFail').append(FormatHtml(d.ReserveFailList, 'reserveFail'));
                        $('#returnSuccess').append(FormatHtml(d.ReturnSuccessList, 'returnSuccess'));
                        $('#returnFail').append(FormatHtml(d.ReturnFailList, 'returnFail'));
                    } else {
                        $showdialog({ body: '无数据！' });
                        return;
                    }
                }, 'json');

        }
        function FormatHtml(data, type) {
            var html = ''
            if (data.length > 0) {
                html += '<div class="panel panel-default">';
                for (var i = 0; i < data.length; i++) {
                    html += '<div class="panel-heading parent-nav collapsed" style="height:86px;" data-toggle="collapse" data-target="#type' + data[i].TerritoryCode + '">';

                    html += '<div><div style="float:left;"><label for="" class="weui-label"><strong>' + data[i].Name + '</strong></label></div>';
                    html += '<div style="float:right;"><label for="" class="weui-label">' + data[i].OrderState + '</label></div></div>'

                    html += '<div><div style="float:left;"><label for="" class="weui-label">' + data[i].TerritoryCode + '</label></div>';
                    var Countstr = data[i].OrderCount.toString();
                    var Countreg = Countstr.indexOf(".") > -1 ? /(\d)(?=(\d{3})+\.)/g : /(\d)(?=(?:\d{3})+$)/g;
                    var CountT = Countstr.replace(Countreg, "$1,") + "单";
                    html += '<div style="float:right;"><label for="" class="weui-label">' + CountT + '</label></div></div>';

                    html += '<div><div style="float:left;"><label for="" class="weui-label">订单金额</label></div>';
                    var Amountstr = toDecimal2(data[i].OrderAmount).toString();
                    var Amountreg = Amountstr.indexOf(".") > -1 ? /(\d)(?=(\d{3})+\.)/g : /(\d)(?=(?:\d{3})+$)/g;
                    var AmountT = "¥" + Amountstr.replace(Amountreg, "$1,");
                    html += '<div style="float:right;"><label for="" class="weui-label">' + AmountT + '</label></div></div>';
                    html += '<div><i class="fa fa-bars" aria-hidden="true"></i></div></div>'

                    if (data[i].DownList.length > 0) {
                        html += '<div id="type' + data[i].TerritoryCode + '" class="panel-collapse collapse child-nav">';
                        for (var j = 0; j < data[i].DownList.length; j++) {
                            html += '<div class="panel-body"><div><div style="float:left;"><label for="" class="weui-label"><strong>' + data[i].DownList[j].Name + '</strong></label></div>';
                            html += '<div style="float:right;"><label for="" class="weui-label">' + data[i].DownList[j].OrderState + '</label></div></div>';

                            html += '<div><div style="float:left;"><label for="" class="weui-label">' + data[i].DownList[j].TerritoryCode + '</label></div>';
                            var str = data[i].DownList[j].OrderCount.toString();
                            var reg = str.indexOf(".") > -1 ? /(\d)(?=(\d{3})+\.)/g : /(\d)(?=(?:\d{3})+$)/g;
                            var T = str.replace(reg, "$1,") + "单";
                            html += '<div style="float:right;"><label for="" class="weui-label">' + T + '</label></div></div>';

                            html += '<div><div style="float:left;"><label for="" class="weui-label">订单金额</label></div>'
                            var amountstr = toDecimal2(data[i].DownList[j].OrderAmount).toString();
                            var amountreg = amountstr.indexOf(".") > -1 ? /(\d)(?=(\d{3})+\.)/g : /(\d)(?=(?:\d{3})+$)/g;
                            var amountT = "¥" + amountstr.replace(amountreg, "$1,");
                            html += '<div style="float:right;"><label for="" class="weui-label">' + amountT + '</label></div></div></div>';
                        }
                        html += '</div>';
                    }
                }
                html += '</div>';
            }
            return html;
        }
        function DrawCountBar(servicedata, TotalCount) {
            option = {
                title: {
                    text: 'HT订单数量: ' + TotalCount,
                    x: 'center',
                    bottom: '30',
                    textStyle: {
                        fontSize: 13,
                        fontStyle: 'bolder',
                        fontWeight: 'normal',
                    },
                },
                //color: ['#006774', '#F66800'],
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} '
                },

                series: [
                    {
                        name: 'HT订单数量占比',
                        type: 'pie',
                        radius: '50%',
                        center: ['50%', '50%'],
                        data: servicedata,
                        itemStyle: {
                            borderWidth: 3,
                            borderColor: '#fff',
                        },
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            return option
        }
    });
    function toDecimal2(x) {
        var f = Math.round(x * 100) / 100;
        var s = f.toString();
        var rs = s.indexOf('.');
        if (rs < 0) {
            rs = s.length;
            s += '.';
        }
        while (s.length <= rs + 2) {
            s += '0';
        }
        return s;
    }
</script>
<div class="page-main">
    <div class="page-body" style="background-color: #FFFFFF; bottom: 0px !important;">
        <div style="background-color:#f60; height:60px;padding-left:15px;padding-top:5px;">
            <img id="imgTool" src="~/Content/image/line-chart.png" style="height:24px;vertical-align:middle;" />&nbsp;<font color="white" style="font-size:14px;">分析维度：按订单状态分析</font><label></label>
            <div style="float:left;">
                <img id="imgTool" src="~/Content/image/Calendar.png" style="height:24px;vertical-align:middle;" />
                <input class="weui-input" style="color:white;width:75px;" id="startDate" type="text" readonly>
                <input class="weui-input" style="color:white;width:15px;" value="--" />
                <input class="weui-input" style="color:white;width:75px;" id="endDate" type="text" readonly>
                <div class="cost-right">
                    <button id="btnRefresh" style="z-index:999;color:white!important;border:none;background:none;margin-left:20px;text-decoration:underline;">刷新</button>
                </div>
            </div>
        </div>

        <label style="color: #999999;padding-left:15px;">仅分析已产生实际费用订单</label>

        <div id="mainCount" style="width: auto;height:280px;"></div>
        
        <div class="weui-cells" style="margin-top:0px!important;">
            <div class="weui-cell">
                <label for="" class="weui-label" style="width:100% !important;"><strong id="belong">数据详情</strong></label>
            </div>
            <div class="weui-cells" style="padding:0px 15px; position: relative; margin-top:0px !important;">
                <div class="weui-cell__hd" style="float:left;">
                    <label for="" class="weui-label">预定成功：<label id="labReserveSuccessCount"></label>单</label>
                </div>
                <div class="weui-cell__hd" style="float:right;">
                    <label for="" class="weui-label">预定失败：<label id="labReserveFailCount"></label>单</label>
                </div>
            </div>

            <div style="padding:10px 15px; position: relative;">
                <div class="weui-cell__hd" style="float:left;">
                    <label for="" class="weui-label">退单成功：<label id="labReturnSuccessCount"></label>单</label>
                </div>
                <div class="weui-cell__hd" style="float:right;">
                    <label for="" class="weui-label">退单失败：<label id="labReturnFailCount"></label>单</label>
                </div>
            </div>



        </div>
        <div class="weui-cells" style="border: solid 1px #ddd !important; margin-top: 0px !important;"></div>
        <div style="margin-top:15px;padding:5px;">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#reserveSuccess" data-toggle="tab">
                        预定成功
                    </a>
                </li>
                <li><a href="#reserveFail" data-toggle="tab">预定失败</a></li>
                <li><a href="#returnSuccess" data-toggle="tab">退单成功</a></li>
                <li><a href="#returnFail" data-toggle="tab">退单失败</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="reserveSuccess">
                </div>
                <div class="tab-pane fade" id="reserveFail">
                </div>
                <div class="tab-pane fade" id="returnSuccess">
                </div>
                <div class="tab-pane fade" id="returnFail">
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #chooseDeliverTime {
        background-color: #FFFFFF;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        display: none;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 8;
    }

    #dvUploadSpeakerFile {
        background-color: #FFFFFF;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        display: none;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9;
    }

    .my_weui_uploader_input_wrp {
        float: left;
        position: relative;
        margin-right: 9px;
        margin-bottom: 9px;
        width: 70px;
        height: 70px;
        border: 2px #D9D9D9;
        border-radius: 10px;
    }

    .panel-body {
        padding-left: 15px !important;
        padding-right: 15px !important;
        padding-top: 5px !important;
        padding-bottom: 0px !important;
    }

    /*body {
        background-color: #f5f5f5;
        color: #444;
    }*/

    .parent-nav:after {
        content: "\f077"; /** 箭头向上图标*/
        font-family: FontAwesome;
    }

    /**箭头图标展开式时的样式*/
    /** collapsed是bootstrap的属性，表示父标签展开的时候加入的图标 after表示在此后加入字体图标  */
    .parent-nav.collapsed:after {
        content: "\f078"; /** 箭头向下图标*/
        font-family: FontAwesome;
    }
</style>






