@{
    ViewBag.Title = "HT报表管理";
    Layout = "~/Views/Shared/_PLayoutPagePanel.cshtml";
}

@section scripts{
    <script src="~/Content/plugin/jquidatepicker/jquery-ui.min.js"></script>
    <link href="~/Content/plugin/jquidatepicker/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/Content/plugin/jquidatepicker/jquery-ui.min.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap/bootstrap-select.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Content/bootstrap/bootstrap-select.js"></script>
    <script type="text/javascript" src="~/Content/bootstrap/bootstrap3.3.7.js"></script>*@
    <script type="text/javascript">
        $(function () {
            var _option = {
                dateFormat: "yy-mm-dd",
                closeText: "关闭",
                prevText: "&#x3C;上月",
                nextText: "下月&#x3E;",
                currentText: "今天",
                monthNames: ["一月", "二月", "三月", "四月", "五月", "六月",
                    "七月", "八月", "九月", "十月", "十一月", "十二月"],
                monthNamesShort: ["一月", "二月", "三月", "四月", "五月", "六月",
                    "七月", "八月", "九月", "十月", "十一月", "十二月"],
                dayNames: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
                dayNamesShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
                dayNamesMin: ["日", "一", "二", "三", "四", "五", "六"],
                weekHeader: "周",
                dateFormat: "yy-mm-dd",
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: true,
                yearSuffix: "年"

            }
            var _ctBehin = $("#txtDeliverTimeBegin").datepicker(_option);
            var _ctEnd = $("#txtDeliverTimeEnd").datepicker(_option);
            $('#btnExport').bind('click', function () {
                var deliverTimeBegin = $('#txtDeliverTimeBegin').val();
                var deliverTimeEnd = $('#txtDeliverTimeEnd').val();
                var type = $('#sltSpecialOrderType').val();
                if (deliverTimeBegin == "") {
                    $showdialog({ body: '请选择开始时间！' });
                    return;
                }
                if (deliverTimeEnd == "") {
                    $showdialog({ body: '请选择结束时间！' });
                    return;
                }
                if (type == 0) {
                    $showdialog({ body: '请选择特殊订单类型！' });
                    return;
                }
                window.location.href = contextUri + '/P/ExportManagement/ExportSpecialOrder?DeliverTimeBegin=' + deliverTimeBegin
                    + '&DeliverTimeEnd=' + deliverTimeEnd
                    + '&SpecialOrderType=' + type;
            });

        });
        function selectOption() {
            var item = $('#sltOption').val();
            if (item == 1) {
                document.getElementById("jump").href = contextUri + "/P/ExportManagement/SpecialOrder";
                document.getElementById("jump").click();
            }
            else if (item == 2) {
                document.getElementById("jump").href = contextUri + "/P/ExportManagement/SpecialInvoiceOrder";
                document.getElementById("jump").click();
            }
            else if (item == 3) {
                document.getElementById("jump").href = contextUri + "/P/ExportManagement/UnfinishedOrder";
                document.getElementById("jump").click();
            }
            else if (item == 4) {
                document.getElementById("jump").href = contextUri + "/P/ExportManagement/HospitalCoverage";
                document.getElementById("jump").click();
            }
            else if (item == 5) {
                document.getElementById("jump").href = contextUri + "/P/ExportManagement/OrderEvaluate";
                document.getElementById("jump").click();
            }
            else if (item == 6) {
                document.getElementById("jump").href = contextUri + "/P/ExportManagement/SpecialOrderProportion";
                document.getElementById("jump").click();
            }
        };

    </script>
}
<div class="tool_bar">
    <label>特殊订单</label>
</div>
<div class="main_view">
    <div style="margin: 20px;" class="panel admin-panel">
        <div class="border-bottom inline form-auto padding">
            <div class="container margin-little-left">
                <div class="line">
                    <div class="x10">
                        <span><strong>请选择要导出报表</strong></span>
                        <select class="input input-small" style="width:180px;" id="sltOption" name="sltOption" onchange="selectOption()">
                            <option value="6">Special Order</option>
                            <option value="1" selected="selected">特殊订单</option>
                            <option value="2">特殊发票订单</option>
                            <option value="3">未完成订单</option>
                            <option value="4">医院覆盖率</option>
                            <option value="5">订单评价</option>
                        </select>
                        <a id="jump"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-bottom inline form-auto padding">
            <div class="container margin-little-left">
                <div class="line">
                    <span><strong>请筛选条件</strong></span>
                    <label class="border-small label-block" style="padding-left:50px;">
                        送餐日期
                        <input type="text" class="input input-small" style="width:100px;" id="txtDeliverTimeBegin" name="txtDeliverTimeBegin" placeholder="开始时间" autocomplete="off" />
                        <input type="text" class="input input-small" style="width:100px;" id="txtDeliverTimeEnd" name="txtDeliverTimeEnd" placeholder="结束时间" autocomplete="off" />
                    </label>
                    <label class="border-small label-block" style="padding-left:20px;">
                        特殊订单类型
                        <select id="sltSpecialOrderType" name="sltSpecialOrderType" class="input input-small" style="width:210px;">
                            <option value="0">请选择</option>
                            <option value="1">同一代表同一医院同一餐厅当日多场</option>
                            <option value="2">退单失败</option>
                            <option value="3">会议文件丢失</option>
                        </select>
                    </label>
                    <label class="border-small label-block" style="padding-left:20px;">
                        <button class="button button-small bg-blue icon-file-excel-o" id="btnExport">导出</button>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>



