
@{
    ViewBag.Title = "Test";
    Layout = "~/Areas/P/Views/Shared/_LayoutWxPage.cshtml";
}

<script type="text/javascript">
    $(function () {

    $('#btnSubmit').on('click', function () {
    showDlg(123456);
    });

    });
</script>

<div>
    <button id="btnSubmit" style="width:100%;">提示</button>
</div>

