<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="MailToUser" value="zhexin.zou@yidatec.com;" />
    <add key="FilePath" value="E:\Test\Hospital_Variables.xls" />
    <add key="MailTemplatePath" value="E:\Work\20190812HT\SendMailApp\SendMailApp\MailTemplate\" />
  </appSettings>
</configuration>