
@{
    ViewBag.Title = "呼叫中心";
    Layout = "~/Areas/P/Views/Shared/_LayoutWxPage.cshtml";
}

<style>
    .weui-cell {
        padding-bottom: 0px;
    }

    img {
        width: 156px;
        height: 156px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

<div class="page-main" style="height:auto">
    <div style="text-align:center;">
        <img src="~/Content/image/u3216.png" />
    </div>
    <div style="padding-left:10px;">
        <h2 style="margin-top:30px;">BDS呼叫中心联系电话：</h2>
        <h2><a href="tel:400-6868-912">400-6868-912</a></h2>
        <h2>(每日09:00-20:00)</h2>
        <h2 style="margin-top:30px;">XMS呼叫中心联系电话：</h2>
        <h2><a href="tel:400-820-5577">400-820-5577</a></h2>
        <h2>(每日09:00-20:00)</h2>
        <h2 style="margin-top:30px;">技术支持热线：</h2>
        <h2><a href="tel:0411-84898998">0411-84898998</a></h2>
        <h2>(工作日09:00-17:30)</h2>
    </div>
</div>

