@{
    ViewBag.Title = "联系方式";
    Layout = "~/Areas/P/Views/Shared/_LayoutWxPage.cshtml";
}
<style>
    .weui-cell {
        padding-bottom: 0px;
    }

    img {
        width: 156px;
        height: 156px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .weui-cell {
        padding-bottom: 10px;
    }

    img {
        width: 80px;
        height: 80px;
        margin-top: 5px;
    }
</style>

<body>
    <div class="page-main">
        <div style="text-align:center;">
            <img src="~/Content/image/u3196.png" />
        </div>
        <div style="text-align:center;">
            <h2 style="margin-top:-20px;font-size: 1.0em;">中央订餐项目组PMO邮箱</h2>
            <h2 style="font-size: 1.2em;"><a href="mailto:cn.chinarx-pmo@gsk.com">cn.chinarx-pmo@gsk.com</a></h2>

            <h2 style="margin-top:0px;font-size: 1.0em;">GSK财务邮箱</h2>
            <h2 style="font-size: 1.2em;"><a href="mailto:chinahcp@gsk.com">chinahcp@gsk.com</a></h2>
        </div>
        <div style="text-align:center;">
            <img src="~/Content/image/u3216.png" />
        </div>
        <div style="text-align:center;">
            <h2 style="margin-top:-20px;font-size: 1.0em;">BDS呼叫中心联系电话：</h2>
            <h2 style="font-size: 1.2em;"><a href="tel:400-6868-912">400-6868-912</a></h2>
            <h2 style="margin-bottom:8px;font-size: 1.0em;color:#666666">(每日09:00-20:00)</h2>

            <h2 style="margin-top:30px;font-size: 1.0em;margin-top:0px;">XMS呼叫中心联系电话：</h2>
            <h2 style="font-size: 1.2em;"><a href="tel:400-820-5577">400-820-5577</a></h2>
            <h2 style="margin-bottom:8px;font-size: 1.0em;color:#666666">(每日09:00-20:00)</h2>

            <h2 style="margin-top:30px;font-size: 1.0em;margin-top:0px;">技术支持热线：</h2>
            <h2 style="font-size: 1.2em;"><a href="tel:0411-84898998">0411-84898998</a></h2>
            <h2 style="margin-bottom:8px;font-size: 1.0em;color:#666666">(工作日09:00-17:30)</h2>
        </div>
    </div>
</body>



