@{
    ViewBag.Title = "UserManual";
    Layout = "~/Areas/P/Views/Shared/_LayoutWxPage.cshtml";
}
<script>

</script>
<body style="background-color:#e6e6e6;">
    <div style="height:10px;"></div>
        <div style="width:90%;height:auto;  background-size :contain;background-color:white;border-radius:5px;margin: 0 auto; " onclick="javascript:window.open('http://catering-storage.igskapp.com/doc/HT%E8%AE%A2%E9%A4%90%E6%9C%8D%E5%8A%A1%E7%94%A8%E6%88%B7%E6%89%8B%E5%86%8C.pdf')">
            <img src="~/Content/image/UM.jpg" style="width:100%;height:auto; display:block;border-radius:5px;"/>
            <span style="font-size:18px;margin-left:8px;">HT订餐服务-用户手册</span>
        </div>
    <div style="height:10px;"></div>
        <div style="width:90%;height:auto;  background-size :contain;background-color:white;border-radius:5px;margin: 0 auto; "onclick="javascript:window.open('http://catering-storage.igskapp.com/doc/HT%E8%AE%A2%E9%A4%90%E6%9C%8D%E5%8A%A1QA-ALL.pdf')">
            <img src="/Content/image/Q&A.jpg" style="width:100%;height:auto; display:block;border-radius:5px;" />
            <span style="font-size:18px;margin-left:8px;">HT订餐服务-常见问题</span>
        </div>
</body>
