<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="H5BaseDomain" value="http://meal.dev.imtpath.com"/>
    <add key="H5Domain" value="http://meal.dev.imtpath.com"/>
    <add key="H5BaseUrl" value="http://meal.dev.imtpath.com/iPathAuthService"/>
    <!-- 企业号配置 -->
    <add key="WeChatAppid" value="3"/>
    <add key="_WeChatAppid" value="26"/>
    <add key="WeChatCorpid" value="wx4dc5256a7df16d65"/>
    <add key="WeChatSecret" value="OIGkhoPh-F-MueEd7VF5y-T42TWlYVD4LRem4c_rq4ximK4f35HBGx2zYP16zh8E"/>
    <add key="WeChatToken" value=""/>

    <add key="NonPositionDBName" value="vxm_dev" />
    
  </appSettings>
  <connectionStrings>
    <add name="MealAdmin" providerName="System.Data.SqlClient" connectionString="Data Source=sqldev.cipwbbqagptx.rds.cn-north-1.amazonaws.com.cn;Initial Catalog=vxm_iFoodCenter_Dev2;User ID=Ipath_wxm_dev;Pwd=imtpath@123;Connection Timeout=30"/>
    <add name="NonHTMealAdmin" providerName="System.Data.SqlClient" connectionString="Data Source=sqldev.cipwbbqagptx.rds.cn-north-1.amazonaws.com.cn;Initial Catalog=vxm_dev;User ID=Ipath_wxm_dev;Pwd=imtpath@123;Connection Timeout=30" /> 
    <!--Production-->
    <!--<add name="MealAdmin" providerName="System.Data.SqlClient" connectionString="Data Source=nonaemprod2.cvrxukzbunx5.rds.cn-north-1.amazonaws.com.cn;Initial Catalog=WX_Catering_NonHT;User ID=impathdba;Pwd=imtpath@123;Connection Timeout=30"/>
    <add name="NonHTMealAdmin" providerName="System.Data.SqlClient" connectionString="Data Source=nonaemprod2.cvrxukzbunx5.rds.cn-north-1.amazonaws.com.cn;Initial Catalog=WX_Catering_HT;User ID=impathdba;Pwd=imtpath@123;Connection Timeout=30" />-->
  </connectionStrings>
  <log4net>
    <logger name="logerror">
      <level value="ERROR"/>
      <appender-ref ref="ErrorAppender"/>
    </logger>
    <logger name="loginfo">
      <level value="INFO"/>
      <appender-ref ref="InfoAppender"/>
    </logger>
    <logger name="callbackinfo">
      <level value="INFO"/>
      <appender-ref ref="CallBackAppender"/>
    </logger>
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\logs\MealAdminApiService\App_Log\ErrorLog.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="MaximumFileSize" value="1MB"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\logs\MealAdminApiService\App_Log\InfoLog.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="MaximumFileSize" value="1MB"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <appender name="CallBackAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\logs\MealAdminApiService\App_Log\CallBackLog.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="MaximumFileSize" value="1MB"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="MealAdminApi.IUploadOrder">
        <endpoint address="" behaviorConfiguration="MealAdminApi.IUploadOrderAspNetAjaxBehavior"
          binding="webHttpBinding" contract="MealAdminApi.IUploadOrder" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="server1" maxBufferPoolSize="10485760" maxReceivedMessageSize="10485760"></binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MealAdminApi.IUploadOrderAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" bindingConfiguration="server1"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true" />
    <staticContent>
      <remove fileExtension=".svc"/>
      <mimeMap fileExtension=".svc" mimeType="application/octet-stream" />
    </staticContent>
    <handlers>
      <remove name="svc-Integrated"/>
      <add name="svc-Integrated" path="*.svc" verb="*" type="System.ServiceModel.Activation.HttpHandler" resourceType="File" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
