<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="IBaseDataApi_Url" value="http://localhost:5160/BaseData.svc"/>
    <add key="IOrderApi_Url" value="http://localhost:5160/Order.svc"/>
    <add key="IMeetingMealApi_Url" value="http://localhost:6388/OpenApi.svc"/>
    <add key="IEvaluateApi_Url" value="http://localhost:5160/Evaluate.svc"/>
    <add key="IUserInfo_Url" value="http://localhost:5160/UserInfo.svc"/>
    

    <add key="littlesecretary_api" value="https://safe.fg114.com/cooperate/deliver/v1/" />
    <add key="littlesecretary_consumer_key" value="1" />
    <add key="littlesecretary_consumer_secret" value="Z3NrdGVzdA==" />

    <!--<add key="littlesecretary_api" value="https://safe.xiaomishu.com/cooperate/deliver/v1/"/>
    <add key="littlesecretary_consumer_key" value="15"/>
    <add key="littlesecretary_consumer_secret" value="R1NL"/>-->
    
  </appSettings>
</configuration>