
@{
    ViewBag.Title = "预申请MMCoE审批记录";
    Layout = "~/Views/Shared/_PLayoutPagePanel.cshtml";
}
@section scripts{
    <script src="~/Content/plugin/jquidatepicker/jquery-ui.min.js"></script>
    <link href="~/Content/plugin/jquidatepicker/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/Content/plugin/jquidatepicker/jquery-ui.min.css" rel="stylesheet" />


    <script type="text/javascript">
        var pdg;
        $(function () {
            var _option = {
                dateFormat: "yy-mm-dd",
                closeText: "关闭",
                prevText: "&#x3C;上月",
                nextText: "下月&#x3E;",
                currentText: "今天",
                monthNames: ["一月", "二月", "三月", "四月", "五月", "六月",
                "七月", "八月", "九月", "十月", "十一月", "十二月"],
                monthNamesShort: ["一月", "二月", "三月", "四月", "五月", "六月",
                "七月", "八月", "九月", "十月", "十一月", "十二月"],
                dayNames: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
                dayNamesShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
                dayNamesMin: ["日", "一", "二", "三", "四", "五", "六"],
                weekHeader: "周",
                dateFormat: "yy-mm-dd",
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: true,
                yearSuffix: "年"

            }

            var _ctBehin = $("#startMeetingDate").datepicker(_option);
            var _ctEnd = $("#endMeetingDate").datepicker(_option);

            var _stBegin = $("#startApproveDate").datepicker(_option);
            var _stEnd = $("#endApproveDate").datepicker(_option);

            pdg = $('#costcenter_dataTable').iPathDataGrid({ url: contextUri + '/P/PreApproval/RecordsLoad', paging: true });
            pdg.QueryParams = function () {
                return {
                    srh_HTCode: $('#txtHTCode').val().replace(/\s/g, ""),
                    srh_ApplierMUDID: $('#txtApplierMUDID').val().replace(/\s/g, ""),
                    srh_BUHeadMUDID: $('#txtBUHeadMUDID').val().replace(/\s/g, ""),
                    srh_startMeetingDate: $('#startMeetingDate').val().replace(/\s/g, ""),
                    srh_endMeetingDate: $('#endMeetingDate').val().replace(/\s/g, ""),
                    srh_State: $('#sltState').val().replace(/\s/g, ""),
                    srh_StartApproveDate: $('#startApproveDate').val().replace(/\s/g, ""),
                    srh_EndApproveDate: $('#endApproveDate').val().replace(/\s/g, "")

                };
            }
            pdg.Load();

            $('#btnLoad').bind('click', function () {
                pdg.Load();
            });
            //点击导出MMCoE图片按钮
            $("#btnExcportMMCoEImg").bind('click', function () {
                window.top.showLoading();
                $.ajax({
                    url: "@Url.Action("ExportMMCoEImage","PreApproval")",
                    dataType: 'json',
                    type: "POST",
                    data: {
                        srh_HTCode: $('#txtHTCode').val().replace(/\s/g, ""),
                        srh_ApplierMUDID: $('#txtApplierMUDID').val().replace(/\s/g, ""),
                        srh_BUHeadMUDID: $('#txtBUHeadMUDID').val().replace(/\s/g, ""),
                        srh_startMeetingDate: $('#startMeetingDate').val().replace(/\s/g, ""),
                        srh_endMeetingDate: $('#endMeetingDate').val().replace(/\s/g, ""),
                        srh_State: $('#sltState').val().replace(/\s/g, ""),
                        srh_StartApproveDate: $('#startApproveDate').val().replace(/\s/g, ""),
                        srh_EndApproveDate: $('#endApproveDate').val().replace(/\s/g, "")
                    },
                    success: function (json) {
                        if (json.state == 1) {
                            window.top.hideLoading();
                            window.location.href = "@Url.Action("DownloadByPath", "PreApproval")?filePath=" + json.filePath;
                        } else {
                            alert("导出错误");
                        }
                        window.top.hideLoading();           
                    }
                });     
            });
            //点击导出历史MMCoE图片按钮
            $("#btnExcportHisMMCoEImg").bind('click', function () {
                window.top.showLoading();
                $.ajax({
                    url: "@Url.Action("ExportHistoryMMCoEImage", "PreApproval")",
                    dataType: 'json',
                    type: "POST",
                    success: function (json) {
                        if (json.state == 1) {
                            window.top.hideLoading();
                            window.location.href = "@Url.Action("DownloadByPath", "PreApproval")?filePath=" + json.filePath;
                        } else {
                            alert("导出错误");
                        }
                        window.top.hideLoading();           
                    }
                });     
             });
        });

    </script>
}
<div class="tool_bar">
    <label>预申请MMCoE审批记录</label>
</div>
<div class="main_view">
    <div style="margin: 20px;overflow:auto" class="panel admin-panel">
        <div class="border-bottom inline form-auto padding" style="width:4500px; max-width:4500px;">
            <div class="container margin-little-left">
                <div class="line">
                    <input type="text" class="input input-small" style="width:100px;" id="txtHTCode" name="txtHTCode" placeholder="HT编号" />
                    <input type="text" class="input input-small" style="width:100px;" id="txtApplierMUDID" name="txtApplierMUDID" placeholder="申请人MUDID" />
                    <span>审批人MUDID</span>
                    <input type="text" class="input input-small" style="width:100px;" id="txtBUHeadMUDID" name="txtBUHeadMUDID" placeholder="审批人MUDIDD" />                    
                    <label class="border-small label-block">
                        会议日期
                        <input type="text" class="input input-small" style="width:100px;" id="startMeetingDate" name="startMeetingDate" placeholder="开始时间" />
                        <input type="text" class="input input-small" style="width:100px;" id="endMeetingDate" name="endMeetingDate" placeholder="结束时间" />
                    </label>
                    <span>审批状态</span>
                    <select class="input input-small" style="width:100px;" id="sltState" name="sltState">
                        <option value="0,1,2,3,4,5,6" selected="selected"></option>
                        <option value="0,1,3">待审批</option>
                        <option value="5,6">审批通过</option>
                        <option value="2,4">审批驳回</option>
                    </select>
                    <div class="line">                        
                        <label class="border-small label-block">
                            审批日期
                            <input type="text" class="input input-small" style="width:100px;" id="startApproveDate" name="startApproveDate" placeholder="开始时间" />
                            <input type="text" class="input input-small" style="width:100px;" id="endApproveDate" name="endApproveDate" placeholder="结束时间" />
                        </label>
                        <button class="button button-small bg-main icon-search" id="btnLoad"> 查询</button>
                        <button class="button button-small bg-main icon-search" id="btnExcportMMCoEImg"> 导出MMCoE审批文件图片</button>
                        <button class="button button-small bg-main icon-search" id="btnExcportHisMMCoEImg"> 导出历史MMCoE审批文件图片</button>
                    </div>
                    
                <div style="display: none">
                    <input id="fileUpload" type="file" name="file" onchange="fileChange('import', 'fileUpload')" />
                </div>

                <div style="display: none;">
                    <form id="repor_HospitalRes" action="~/P/Restaurant/ReportHospitalResExcel" method="post" target="_blank"></form>
                    <form id="repor_Res" action="~/P/Restaurant/ReportResExcel" method="post" target="_blank"></form>
                </div>
            </div>
        </div>
        <table id="costcenter_dataTable" class="table table-hover" style="width:4500px; max-width:4500px;">
            <thead>
                <tr>                    
                    <th>申请人姓名</th>
                    <th>申请人MUDID</th>
                    <th>申请人手机号码</th>
                    <th>预申请申请日期</th>
                    <th>预申请申请时间</th>
                    <th>HT编号</th>
                    <th>Market</th>
                    <th>TA</th>
                    <th>省份</th>
                    <th>城市</th>
                    <th>医院编码</th>
                    <th>医院名称</th>
                    <th>医院地址</th>
                    <th>会议名称</th>
                    <th>会议日期</th>
                    <th>会议时间</th>
                    <th>参会人数</th>
                    <th>成本中心</th>
                    <th>预算金额</th>
                    <th>直线经历是否随访</th>
                    <th>审批人姓名</th>
                    <th>审批人MUDID</th>
                    <th>审批日期</th>
                    <th>审批时间</th>
                    <th>审批动作</th>
                    <th>审批状态</th>
                    <th>审批理由</th>                    
                </tr>
            </thead>
            <tbody>
                <tr>                    
                    <td>${dr.ApplierName}$</td>
                    <td>${dr.ApplierMUDID}$</td>
                    <td>${dr.ApplierMobile}$</td>
                    <td>${dr.CreateDate}$</td>
                    <td>${dr.CreateTime}$</td>                    
                    <td>${dr.HTCode}$ </td>
                    <td>${dr.Market}$ </td>
                    <td>${dr.TA}$ </td>
                    <td>${dr.Province}$ </td>
                    <td>${dr.City}$ </td>
                    <td>${dr.HospitalCode}$ </td>
                    <td>${dr.HospitalName}$ </td>
                    <td>${dr.HospitalAddress}$ </td>
                    <td>${dr.MeetingName}$ </td>
                    <td>${dr.MeetingDate}$ </td>
                    <td>${dr.MeetingTime}$ </td>
                    <td>${dr.AttendCount}$ </td>
                    <td>${dr.CostCenter}$ </td>
                    <td>${dr.BudgetTotal}$ </td>
                    <td>${dr.IsDMFollow==true?"是":"否"}$ </td>
                    <td>${dr.UserName}$ </td>
                    <td>${dr.UserId}$ </td>
                    <td>${dr.ApproveDate}$ </td>
                    <td>${dr.ApproveTime}$ </td>
                    @*==0?"审批驳回":"审批通过"*@
                    <td>${dr.ActionType}$ </td>
                    <td>${dr.State}$</td>
                    <td>${dr.Comments}$ </td>
                    @*<td><a href="javascript:;" class="button border-blue button-little icon-edit" onclick="ShowDetail('${dr.ID}$')"> 详情</a></td>*@
                    @*<td>${getDateByDotNet(dr.CreateDate).pattern('yyyy-MM-dd HH:mm:ss')}$</td>*@                  

                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="80" class="paging"></td>
                </tr>
            </tfoot>
        </table>
        </div>
    </div>
</div>


